body { margin: 0; padding: 0; }

.banner-container {
	position: relative;
}

.banner-container img {
	width: 100%;
	height: auto;
	background-size: cover;
}

.banner-top-left{
	position: absolute;
	top: 0px;
	left: 0px;
}
.banner-bottom-left {
	position: absolute;
	bottom: 8px;
  	left: 0px;
}

.banner-container .banner-top-left { width: 100%; } 
.banner-container .banner-bottom-left {
	width: 100%;
	bottom: 30px;
	background-image: linear-gradient(
		to right, 
		rgba(206, 206, 206, 0.9) , 
		rgba(206, 206, 206, 0.8),
		rgba(206, 206, 206, 0.7),
		rgba(206, 206, 206, 0.2),
		rgba(206, 206, 206, 0)
		);

}
.banner-container .banner-bottom-left * {
	margin: 0px 0px 0px 50px; 
	/*
	-webkit-text-stroke-width: 0.5px;
  	-webkit-text-stroke-color: black;
  	 -webkit-text-fill-color: white;*/
}
.banner-container .banner-bottom-left p {
	margin-bottom: 30px;
	font-size: 20px;
	color: black;
}


.menubar {
	padding-top: 2.5%;
	width: 100%;
	overflow: hidden;
	background-color: darkgray;
}
.menubar ul {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
 }
.menubar ul li {
	float: left;
}

.menubar ul li a {
  display: block;
  color: gray;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
}
.menubar ul li a:hover {
	color: black;
	font-weight: bold;
}
