* {
    margin: 0px 0px 0px 0px;
}
/* --- MENUBAR ---*/
.menubar {
    font-size: large;
}
.menubar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
    background-color: black;
}
.menubar ul li {
    margin: 0;
    padding: 0;
    float: left;
}
.menubar ul li a {
    margin: 5px 20px 5px 20px;
    display: block;
    color: lightgray;
    text-decoration: none;
    padding: 18px;
}
.menubar ul li:hover {
    background-color: #4d4d4d;
    color: green;
}
.menubar ul li:hover a {
    color: white;
}
.menubar .menubar-bottom-line {
    margin: auto;
    height: 3.5px;
    background: rgb(51,51,51);
    background: -moz-linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(45,70,75,1) 15%, rgba(37,94,106,1) 30%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(45,70,75,1) 15%, rgba(37,94,106,1) 30%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(45,70,75,1) 15%, rgba(37,94,106,1) 30%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#00d4ff",GradientType=1);
}

/* --- Start page banner --- */
.startpage-banner {
    /*display: grid;*/
    position: relative;
    height: 100%;
    background-color: black;
}
.banner-image {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.text-block{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#frontpage-banner-holder {
    margin: 60px 0px 60px 0px;
}

#content-box-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

#content-box {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 25px 30px 25px 30px;
    margin: 5px 10px 5px 10px;
    flex: 1;
}

#content-box div {
    margin-bottom: 5px;
    
}
#content-box button {
    margin-top: 100%;
    padding: 10px 20px 10px 20px;
    background-color: lightskyblue;
    border: none;
    border-radius: 10%;
    
}