body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* --- page-banner --- */
.page-banner {
  text-align: center;
}



/* --- navbar --- */
.navbar {
  background-color: #181818;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
}

.navbar li {
  float: left;
  display: block;
  text-align: center;
  padding: 18px 29px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.navbar li:hover {
  background-color: #303030;
}

